src/main/mule/wfmplatform.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0f77d8c0-c14d-443e-8063-296690265091" basePath="/api/reporting" >
		<http:listener-connection host="127.0.0.1" port="8088"/>
	</http:listener-config>
	<flow name="wfmReportingFlow" doc:id="16131a2f-5fd6-4e55-9a6d-abf50ef45e02" >
		<http:listener doc:name="Reporting REST Listener" doc:id="b1b2b775-ac35-4c0c-ad9b-409b4174b6fa" config-ref="HTTP_Listener_config" path="/{paramname}">
			<ee:repeatable-file-store-stream />
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="9babe524-55eb-4f13-aca0-a661e89bab58" message="Relative path is: #[attributes.relativePath]"/>
		<choice doc:name="API Routing" doc:id="ac40ee88-f585-4fd8-a1e2-c16dab69605d" doc:description="Not really good routing at tis time:
1) Map GET to see available reports, respond with JSON (the best way to place another choice after Create of ReportsManager)
2) Generate reports with params
3) Return 404 by default">
			<when expression='#[attributes.relativePath == "/reports"]' >
				<java:new doc:name="Create ReportsManager" doc:id="50598e81-889c-48cf-98db-2d7b197a720e" class="ru.abcconsulting.wfmplatform.ReportsManager" constructor="ReportsManager()" target="reportManager">
		</java:new>
				<java:invoke doc:name="ReportsManager Generate" doc:id="83f6e065-bb3a-4b50-be47-ca8ff3797715" class="ru.abcconsulting.wfmplatform.ReportsManager" method="generateReport(String)" instance="#[vars.reportManager]" doc:description="parameters is stubbed now, we should genberate object based on Uri parameters">
			<java:args><![CDATA[#[{arg0: " "}]]]></java:args>
		</java:invoke>
			</when>
			<when expression='#[attributes.relativePath == "/version"]' >
				<java:invoke-static doc:name="Get API Version Info" doc:id="2dd7262d-8bf4-45e4-b011-5deda2f6f771" class="ru.abcconsulting.wfmplatform.info.InfoProvider" method="getApiVersion()">
				</java:invoke-static>
			</when>
		</choice>
	</flow>
</mule>
